.welcome-screen {
    text-align: center;
    padding: 50px;
    /* Agrega más estilos según necesites */
}

.main-content {
    /* Estilos para tu contenido principal */
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    padding-top: 10px; /*Ajustar segun la altura de la barra*/
}

header{
    color: rgb(255, 255, 255);
    margin: 100PX;
    height: 100px;
    text-align: center;
}

#sobre-mi, #proyectos {
    margin: 0;
    padding: 0;
    background-color: rgb(183, 189, 173);
    text-align: center;
}

#protectos img {
    width: 100%;
    height: auto;
}

.perfil {
    text-align: center;
    align-items: center;
    margin: 20px;
}

#foto-perfil {
    border-radius: 50%; /*se usa para hacer la imagen como un circulo*/
    margin-right: 20px; /*dar espacio entre el tecto y la imagen*/
    max-width: 100px; /*brindar un tamaño fijo*/
    height: 100px; /*mantener la relacion y el aspecto*/
    width: 40px;
    height: 40px;
}

@media (max-width: 600px) {
    #foto-perfil {
        max-width: 100%; /* La imagen ocupa todo el ancho en pantallas pequeñas */
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    #foto-perfil  {
        max-width: 75%; /* En pantallas medianas, la imagen ocupa el 75% del ancho */
    }
}

#barra-menu{
    background-color: #333333; /*color de fondo*/
    color: #ffffff; /*color de texto*/
    padding: 0; /*espacio interno*/
    position: fixed; /*Posición fija*/
    top: 0; /*Alinear a la parte superior de la página*/
    width: 100%; /*Ancho completo*/
    z-index: 1000; /*Aegura que la barra este sobre otros elementos*/   
    display: flex; /*habilita el flexbox*/
    align-items: center;
    height: 50px;
    justify-content: space-around;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    margin: 0;    
}

#barra-menu a, #barra-menu #foto-perfil{
    margin: 0 10px;
}

.contenedor-foto-perfil{
    display: flex;
    align-items: center;
}


#barra-menu a:hover{
    color: #E0E0E0;
    
}

#barra-menu a:active {
    color: #FFFFFF;
    
}

#barra-menu a:visited {
    color: #FFFFFF;
    
}

#barra-menu a,
#barra-menu a:hover,
#barra-menu a:active,
#barra-menu a:visited {
    text-decoration: none;
}


html, body{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret{
    from, to {border-color: transparent;}
    50% {border-color: orange;}
}